


/* APP-NAVIGATION ------------------------------------------------------------*/


/* Navigation: folder like structure */
#app-navigation {
	width: 100%;
	height: 100%;
	float: left;
	-moz-box-sizing: border-box; box-sizing: border-box;
/*	background-color: #f5f5f5; */
	padding-bottom: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#app-navigation > ul {
    margin-top: 0px;
    margin-bottom: 0px;
	position: relative;
	height: 100%;
	overflow: auto;
	-moz-box-sizing: border-box; box-sizing: border-box;
}
#app-navigation li {
	position: relative;
	width: 100%;
	-moz-box-sizing: border-box; box-sizing: border-box;
}
#app-navigation .active,
#app-navigation .active a {
	background-color: #ddd;
}
#app-navigation li:hover > a,
#app-navigation .selected,
#app-navigation .selected a {
	background-color: #ccc;
}

#app-navigation .with-icon a {
	padding-left: 44px;
	background-size: 16px 16px;
	background-position: 14px center;
	background-repeat: no-repeat;
}

#app-navigation li > a {
	display: block;
	width: 100%;
	line-height: 44px;
	padding: 0 12px;
	overflow: hidden;
	-moz-box-sizing: border-box; box-sizing: border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333;
}
