/* CSS Document */
@charset "utf-8";

.pagination-first {
  background: url('../js/themes/default/images/pagination_icons.png') no-repeat 0 center;
}
.pagination-prev {
  background: url('../js/themes/default/images/pagination_icons.png') no-repeat -16px center;
}
.pagination-next {
  background: url('../js/themes/default/images/pagination_icons.png') no-repeat -32px center;
}
.pagination-last {
  background: url('../js/themes/default/images/pagination_icons.png') no-repeat -48px center;
}